<mat-drawer-container class="main-container" autosize>

    <mat-drawer #drawer class="sidenav-content" mode="side">
        <h2>Menu</h2>
        <ul>
            <li><a routerLink="Task">Check List</a></li>
            <li><a routerLink="About">About</a></li>
        </ul>
    </mat-drawer>

    <div class="main-content">
      <button type="button" mat-button (click)="drawer.toggle()" class="menu-button">
        |||
      </button>
        <router-outlet></router-outlet>
    </div>
  
</mat-drawer-container>
  
  