<mat-sidenav-container class="main-container" autosize>

    <mat-sidenav #sidenav id="navigation-menu" mode="side">
        <h2>Menu</h2>
        <ul>
            <li><a routerLink="About">Home</a></li>
            <li><a routerLink="Task">Check List</a></li>   
        </ul>
    </mat-sidenav>

    <mat-sidenav-content class="main-container">
      <button (click)="sidenav.toggle()" id="navigation-menu-button">|||</button>
      <router-outlet></router-outlet>
    </mat-sidenav-content>

</mat-sidenav-container>