<h1>Home</h1>
<div id="main-div">
    <p>Hello, and welcome to my Checklist website! This is a website that I've created to learn Full stack development using Angular, Spring Boot, and MySQL ( database might change in the future).</p>
    <p>Here's a quick rundown on the functionality/how to use the website: <br>
    - On the left, you can press the "|||" button to open a side panel and navigate to the checklist part of this website<br>
    - The first input bar in the checklist is for searching, type in which task you want to find and it'll print out all relative tasks<br>
    - Then you have the table of tasks. The first column is the task order number, then priority, the task itself, and the last column is for editing the task<br>
    - There are 3 ways to edit the task. The first one is simply deleting it, the second is marking it as done ( the task will get crossed out and change opacity ), last one is editing the task, it allows you to change task text and priority<br>
    - At the bottom, you can add a new task by choosing priority from the drop-down, inputting task you want into the text input, and pressing the "Add" button<br>
    - There's a filter button at the top-right which opens a side panel where you can choose the priority and status of the task to filter by<br>
    </p>
    <p>
        There are plans to make the website nicer, style it better and implement sorting functionality ( by priority, status, and number ).
    </p>
</div>