h1 {
    font-weight: bold;
    text-align: center;
}
#main-div {
    min-width: 500px;
    margin-left: 20vw;
    height: 100%;
    background: none;
}
#main-content {
    padding-right: 20vw;
}
td {
    background-color: lightgray;
    border-bottom: 1px solid black;
    text-align: left;
    padding-left: 5px;
}
mat-form-field.search-input, input {
    box-sizing: border-box;
    width: 100%;
}
#nav-button {
    position: absolute;
    right: 0;
    margin-right: 20vw;
}
label {
    font-weight: bold;
}
.mat-sidenav {
    width: 5%;
    background-color: lightblue;
    line-height: 30px;
    align-content: center;
    min-width: 200px;
}
input.chekbox-filter {
    margin-right: -40%;
    margin-left: -40%;
}