<h1>CHECK LIST</h1>
<div id="mainDiv">
  <div class="searchBar">
    <input type="search" placeholder="Search for a Task" #searchValue="ngModel" ngModel name="searchValue" (ngModelChange)="onSearch(searchValue.value)">
  </div>
  <!-- Column name table-->
  <table>
    <td style="width: 3%; font-weight: bold;">No.</td>
    <td style="width: 5%; font-weight: bold;">Priority</td>
    <td style="width: 70%; font-weight: bold;">Task</td>
    <td style="width: 10%; font-weight: bold;">Editing</td>
  </table>
  <div *ngIf="tasks?.length !=0" class="taskList">
      <table>
        <tr *ngFor="let task of tasks; let i = index">
          <!-- Task position number column-->
            <td style="width: 3%;"> {{ i+1 }} </td>
          <!-- Task priority column-->
            <td *ngIf="editing==true && task.id==id" type="text" style="width: 5%;">
              <select name="priority-select" [(ngModel)]="task.priority">
                <option *ngFor="let option of priorityOptions">
                  {{ option }}
                </option>
              </select>
            </td>
            <td *ngIf="editing==false || task.id!=id" style="width: 5%;"> {{task.priority }}</td>
          <!-- Task column-->
            <td *ngIf="editing==false || task.id!=id" style="width: 70%;"> 
              <del *ngIf="task.done; else elseBlock" style="opacity: 50%;"> {{ task.task }} </del> 
              <ng-template #elseBlock> {{ task.task }} </ng-template>
            </td>

            <td *ngIf="editing==true && task.id==id" type="text">
              <input value="{{ task.task }}" id="textInput">
            </td>

           <!-- <td style="text-transform: uppercase;"> {{ task.done }} </td> -->

           <!-- Delete, Done, Edit button column-->
            <td style="width: 10%;">
              <button type="submit" (click)="onDeleteTask(task.id!)">Delete</button>
              <button type="submit" (click)="onFinishTask(task.id!)">Done</button>
              
              <button *ngIf="editing==false" type="submit" (click)="onEdit(task.id!)">Edit</button>
              <button *ngIf="editing==true" type="submit" (click)="onSaveEdit(task)">Save</button>
            </td>
          </tr>
      </table>
  </div>

  <div *ngIf="tasks?.length == 0" class="taskList">
    <h2>No tasks here!</h2>
  </div>

  <div class="addTask">
    <form (ngSubmit)="onAddTask()">
      <div>
        <label>Priority: </label>
        <select name="priority-select" [(ngModel)]="task.priority">
          <option *ngFor="let option of priorityOptions">
            {{ option }}
          </option>
        </select>
        <label>Task: </label>
        <input type="text" [(ngModel)]="task.task"
          placeholder="Enter a Task"
          name="addTask"
          autocomplete="off">
      </div>
      <button type="submit">Add</button>
    </form>
  </div>
</div>